.App {
  /* background-color: #705ebb; */
  background: url('https://res.cloudinary.com/dw4hak4ok/image/upload/v1648474412/Wave_Line_2_hbwzbh.svg')
    no-repeat;
  background-size: 100%;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
}
